<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ActiveConnection" value="AdminAppConnectionProd"/>
		<add key="SectorIdIT" value="38"/>
		<add key="SectorIdTOURISM" value="39"/>
		<add key="DeptIdIT" value="215"/>
		<add key="DeptIdTOURISM" value="214"/>
		<add key="DeptIdIPICOL" value="188"/>
		<add key="FileUploadPath" value="D://CSMPROJECTS//SWPGoo//SWP_NEW//Portal//ApprovalDocs//"/>
		<add key="FileUploadPathRegdDoc" value="D://CSMPROJECTS//SWPGoo//SWP_NEW//Document//RegdDoc//"/>
		<!--========================================================================================================-->
		<!--For Staging-->
		<add key="CRMSecurityKey" value="4FA78FE4-EB41-40DB-9BE2-7DE6DF6B99CC"/>
		<!--For Live-->
		<!--<add key="CRMSecurityKey" value="C5A4FA9D-380D-40C8-AAC6-44066777E6A5"/>-->
		<!--========================================================================================================-->
		<!--For Staging-->
		<add key="AIMSecurityKey" value="17AA0C97-29BF-448C-8C3A-02CD813F322D"/>
		<!--For Live-->
		<!--<add key="AIMSecurityKey" value="ABF61E14-45BE-4361-B59A-1690050CAA57"/>-->
		<!--========================================================================================================-->
		<add key="DWHEncryptionKey" value="B48D8691-E936-4DE8-978C-E0D4A8BB959A"/>
		<!--========================================================================================================-->
		<!--For Fire Safety Department -->
		<!--For Staging-->
		<add key="FIRESecurityKey" value="4DA4A948-BEF3-4885-AB32-A016FCEF37D4"/>
		<!--For Live-->
		<add key="FIRESecurityKey" value="FR8E0EB6-CA59-4E6B-B254-1DA97D7238C7"/>
		<!--========================================================================================================-->
		<!--For State Excise Department-->
		<!--For Staging-->
		<add key="EXCISESecurityKey" value="EE25DFD9-1EBB-40DB-B7E9-3C737A8E2033"/>
		<!--For Live-->
		<add key="EXCISESecurityKey" value="EX98C530-2308-4465-99BE-476D583A15C2"/>
		<!--========================================================================================================-->
		<!--For GOSMILE Portal-->
		<!--For Staging-->
		<add key="GoSmileSecurityKey" value="03520A0F-9A11-46AC-855B-65C5864B4B31"/>
		<!--For Live-->
		<!--========================================================================================================-->
		<!--For PAReSHRAM Portal-->
		<!--For Staging-->
		<add key="PAReSHRAMSecurityKey" value="F5B39B70-BF3A-4D7F-A311-C681C5EAD81B"/>
		<!--For Live-->
		<!--========================================================================================================-->
		<!--For EIT Portal-->
		<!--For Staging-->
		<add key="EITSecurityKey" value="4C6EB358-1DFC-40FE-AFC7-0074EE0D4194"/>
		<!--For Live-->
		<add key="EITSecurityKey" value="EITFAA56-8779-4919-8852-8EC5964392BE"/>
		<!--========================================= NSWS Keys (START) =============================================-->
		<!--For NSWS GOSWIFT Portal-->
		<!--For Staging-->
		<add key="NSWSSecurityKey" value="6EE32F3E-9B14-4789-9DEF-0EC458F7EB28"/>
		<add key="NSWSLandingPage" value="https://uatgoswift.csmpl.com/SSOLoginNSWS.aspx"/>
		<!--For Live-->
		<!--<add key="NSWSSecurityKey" value="NSWSA4A8-69A8-4060-82EA-DF29B9F05D2C"/>-->
		<!--<add key="NSWSLandingPage" value="https://investodisha.gov.in/goswift/SSOLoginNSWS.aspx"/>-->
		<!--========================================================================================================-->
		<!--==NSWS API ADDRESS(UAT)==-->
		<add key="NswsTokenGenerationUrl" value="https://sso-uat-nsws.investindia.gov.in/auth/realms/madhyam/protocol/openid-connect/token"/>
		<add key="NswsRedirectionApiUrl" value="https://uat-nsws.investindia.gov.in/gateway/form-builder/caf/redirection"/>
		<add key="NswsPullDocApiUrl" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_document/getDocument"/>
		<!--==NSWS API ADDRESS(PRE-PRODUCTION)==-->
		<!--<add key="NswsTokenGenerationUrl" value="https://api-ppe-nsws.maadhyam.gov.in/gateway/auth/authenticate"/>-->
		<!--<add key="NswsRedirectionApiUrl" value="https://api-ppe-nsws.maadhyam.gov.in/gateway/form-builder/caf/redirection"/>-->
		<!--<add key="NswsPullDocApiUrl" value="https://api-ppe-nsws.maadhyam.gov.in/nsws_document/getDocument"/>-->
		<!--<add key="NswsTokenGenerationUrl" value="https://ppe-api.nsws.gov.in/auth/realms/madhyam/protocol/openid-connect/token"/>-->
		<!--<add key="NswsRedirectionApiUrl" value="https://ppe-api.nsws.gov.in/gateway/form-builder/caf/redirection"/>-->
		<!--<add key="NswsPullDocApiUrl" value="https://ppe-api.nsws.gov.in/nsws_document/getDocument"/>-->
		<!--==NSWS API ADDRESS(PRODUCTION)==-->
		<!--<add key="NswsTokenGenerationUrl" value="https://api-nsws.maadhyam.gov.in/gateway/auth/authenticate"/>-->
		<!--<add key="NswsRedirectionApiUrl" value="https://api-nsws.maadhyam.gov.in/gateway/form-builder/caf/redirection"/>-->
		<!--<add key="NswsPullDocApiUrl" value="https://api-nsws.maadhyam.gov.in/nsws_document/getDocument"/>-->
		<!--<add key="NswsTokenGenerationUrl" value="https://api.nsws.gov.in/auth/realms/madhyam/protocol/openid-connect/token"/>-->
		<!--<add key="NswsRedirectionApiUrl" value="https://api.nsws.gov.in/gateway/form-builder/caf/redirection"/>-->
		<!--<add key="NswsPullDocApiUrl" value="https://api.nsws.gov.in/nsws_document/getDocument"/>-->
		<!--==NSWS API KEYS (UAT)==-->
		<add key="NswsApiAccessId" value="MIN_TEST_0"/>
		<add key="NswsApiAccessSecret" value="MintesT@1234"/>
		<add key="NswsApiKeyPullDoc" value="Min1@GD03"/>
		<!--==NSWS API KEYS (PRE-PRODUCTION)==-->
		<!--<add key="NswsApiAccessId" value="State_Odisha"/>-->
		<!--<add key="NswsApiAccessSecret" value="AcSecKeyPPE@1234"/>-->
		<!--<add key="NswsApiKeyPullDoc" value="AcSecKey@GD03"/>-->
		<!--==NSWS API KEYS (PRODUCTION)==-->
		<!--<add key="NswsApiAccessId" value="State_Odisha"/>-->
		<!--<add key="NswsApiAccessSecret" value="ProdOds@1252"/>-->
		<!--<add key="NswsApiKeyPullDoc" value="ProdOds#15419@AK1002"/>-->
		<!--========================================= NSWS Keys (END) =============================================-->

		<add key="CMDashboardSecurityKey" value="2AF187D1-9443-4001-9A21-07241842AE3B"/>

	</appSettings>
	<connectionStrings>
		<add name="AdminAppConnectionProd" connectionString="Server=server20;uid=SwpG;pwd=Pass@123;database=SWPGOO;Timeout=100000000;Pooling=false;" providerName="System.Data.SqlClient"/>
		<!--<add name="AdminAppConnectionProd" connectionString="Server=CSMBHUL086\SQL2012;uid=sa;pwd=csmpl@123;database=SWPGOO;Timeout=100000000;Pooling=false;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="AdminAppConnectionProd" connectionString="Server=server6;uid=SwPGoO;pwd=SWpG#124@;database=SWPGOO;Timeout=100000000;Pooling=false;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="AdminAppConnectionProd" connectionString="Server=server6;uid=SwPGoO;pwd=sWp@Go#1231;database=SWPGOO;Timeout=100000000;Pooling=false;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="AdminAppConnectionProd" connectionString="Server=server6;uid=swp;pwd=sWp@Go#1629;database=SWPGOO;Timeout=100000000;Pooling=false;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<sessionState mode="Off"/>
	</system.web>
	<system.serviceModel>
		<!--Added by Radhika for Mobile Application-->
		<client>
			<endpoint address="http://164.164.122.177/INDUSTRYDW/DWHService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDWHServiceHost" contract="DWHServiceReference.IDWHServiceHost" name="BasicHttpBinding_IDWHServiceHost"/>
		</client>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IDWHServiceHost"/>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="SWPBinding" sendTimeout="00:25:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="999999999" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="Transport"/>
				</binding>
			</wsHttpBinding>
		</bindings>
		<services>
			<service name="BusinessLogicLayer.TradeCheckStatusBal.TradeCheckStatus" behaviorConfiguration="webBehave">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="SWPBinding" contract="BusinessLogicLayer.TradeCheckStatusBal.ITradeCheckStatus">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.Service.ServiceBusinessLayer" behaviorConfiguration="webBehave">
				<endpoint address="" binding="basicHttpBinding" contract="BusinessLogicLayer.Service.IServiceBusinessLayer">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
			</service>
			<service name="BusinessLogicLayer.Proposal.ProposalBusinessLayer" behaviorConfiguration="webBehave">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="SWPBinding" contract="BusinessLogicLayer.Proposal.IProposalBusinessLayer">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.Proposal.ProposalBAL" behaviorConfiguration="webBehave">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="SWPBinding" contract="BusinessLogicLayer.Proposal.IProposalBAL">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.Investor.InvestorBusinessLayer" behaviorConfiguration="webBehave">
				<endpoint address="" binding="basicHttpBinding" contract="BusinessLogicLayer.Investor.IInvestorBusinessLayer">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
			</service>
			<service name="BusinessLogicLayer.MasterSector.MasterSectorBusinesslayer" behaviorConfiguration="webBehave">
				<endpoint address="" binding="basicHttpBinding" contract="BusinessLogicLayer.MasterSector.IMasterSectorBusinessLayer">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
			</service>
			<service name="BusinessLogicLayer.Login.LoginBusinessLayer" behaviorConfiguration="webBehave">
				<endpoint address="" binding="basicHttpBinding" contract="BusinessLogicLayer.Login.ILoginBusinessLayer">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
			</service>
			<!--Added By Pranay Kumar on 05-Sept-2017 for Integration of Forest Service-->
			<service name="SWP_Services.BL.ForestLicenseBL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="SWP_Services.BL.IForestLicenseBL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<!--Ended By Pranay Kumar on 05-Sept-2017-->
			<!--Added By Pranay Kumar on 08-Sept-2017 for Integration of Pollution Control Service -->
			<service name="SWP_Services.BL.PollutionControlBL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="SWP_Services.BL.IPollutionControlBL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<!--Ended By Pranay Kumar on 08-Sept-2017-->
			<service name="BusinessLogicLayer.PartnershipFirm.PartnershipFirmBal" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.PartnershipFirm.IPartnershipFirmBal"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.SWPIntegrationBAL.TradeLicenceBAL" behaviorConfiguration="webBehave">
				<!--<endpoint address="" binding="wsHttpBinding" contract="BusinessLogicLayer.SWPIntegrationBAL.IBALApplicationDetails">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>-->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.SWPIntegrationBAL.ITradeLicenceBAL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="SWP_Services.BL.DrugLicenseBL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="SWP_Services.BL.IDrugLicenseBL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.SWPIntegrationBAL.AppDetails" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.SWPIntegrationBAL.IAppDetails"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.CNET.CNETBal" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.CNET.ICNETBal"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.Agenda.AgendaBAL" behaviorConfiguration="webBehave">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="SWPBinding" contract="BusinessLogicLayer.Agenda.IAgendaBAL">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.COMMON.COMMONBL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.COMMON.ICOMMONBL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="SWP_Services.BL.BPASBL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="SWP_Services.BL.IBPASBL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="SWP_Services.BL.APAABL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="SWP_Services.BL.IAPAABL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.CRM.CRMBAL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.CRM.ICRMBAL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.AIM.AIMBAL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.AIM.IAIMBAL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.Fire.FIREBL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.Fire.IFIREBL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.Excise.EXCISEBL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.Excise.IEXCISEBL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.Investor.InvestorBAL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.Investor.iInvestorBAL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.GOSMILE.GOSMILEBAL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.GOSMILE.IGOSMILEBAL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.PAReSHRAM.PAReSHRAMBAL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.PAReSHRAM.IPAReSHRAMBAL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.EIT.EITBL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.EIT.IEITBL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessLogicLayer.NSWS.NSWSBAL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.NSWS.INSWSBAL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="BusinessAcessLayer.COMMON_BAL.COMMON_BAL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessAcessLayer.COMMON_BAL.ICOMMON_BAL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="BusinessLogicLayer.CMDashboardBAL.CMDashboardBAL" behaviorConfiguration="webBehave">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost"/>
					</baseAddresses>
				</host>
				<endpoint address="" behaviorConfiguration="jsonTestEndPointBehavior" binding="webHttpBinding" contract="BusinessLogicLayer.CMDashboardBAL.ICMDashboardBAL"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="webBehave">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<dataContractSerializer maxItemsInObjectGraph="999999999"/>
				</behavior>
				<!--<behavior name="Auth">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="" />
          </serviceCredentials>
        </behavior>-->
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="jsonTestEndPointBehavior">
					<webHttp helpEnabled="true"/>
				</behavior>
				<behavior name="serviceBehaviorConfiguration">
					<dataContractSerializer maxItemsInObjectGraph="999999999"/>
				</behavior>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<!--<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="InvestorService.svc" service="BusinessLogicLayer.Investor.InvestorBAL"/>-->
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="TradeServiceCheckStatus.svc" service="BusinessLogicLayer.TradeCheckStatusBal.TradeCheckStatus"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="SWPIntegration.svc" service="BusinessLogicLayer.SWPIntegrationBAL.TradeLicenceBAL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="DrugLicense.svc" service="SWP_Services.BL.DrugLicenseBL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="ForestLicense.svc" service="SWP_Services.BL.ForestLicenseBL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="PollutionControl.svc" service="SWP_Services.BL.PollutionControlBL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="PartnershipFirm.svc" service="BusinessLogicLayer.PartnershipFirm.PartnershipFirmBal"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="CNETService.svc" service="BusinessLogicLayer.CNET.CNETBal"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="AgendaService.svc" service="BusinessLogicLayer.Agenda.AgendaBAL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="APAA.svc" service="SWP_Services.BL.APAABL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="COMMON.svc" service="BusinessLogicLayer.COMMON.COMMONBL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="BPAS.svc" service="SWP_Services.BL.BPASBL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="CRMService.svc" service="BusinessLogicLayer.CRM.CRMBAL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="AIMService.svc" service="BusinessLogicLayer.AIM.AIMBAL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="FireService.svc" service="BusinessLogicLayer.Fire.FIREBL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="ExciseService.svc" service="BusinessLogicLayer.Excise.EXCISEBL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="GOSMILEService.svc" service="BusinessLogicLayer.GOSMILE.GOSMILEBAL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="PAReSHRAMService.svc" service="BusinessLogicLayer.PAReSHRAM.PAReSHRAMBAL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="EITService.svc" service="BusinessLogicLayer.EIT.EITBL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="NSWSService.svc" service="BusinessLogicLayer.NSWS.NSWSBAL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="GOSWIFTCommonService.svc" service="BusinessAcessLayer.COMMON_BAL.COMMON_BAL"/>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="CMDashboardService.svc" service="BusinessLogicLayer.CMDashboardBAL.CMDashboardBAL"/>
			</serviceActivations>
		</serviceHostingEnvironment>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>